.section1 {
    background-color: rgb(0, 0, 0);
}
.heading-plastik{
    color: gainsboro;
}
.tulisanhijau{
    color: #A7D129;
}
h1{
    font-family: 'Caveat', cursive;
}
h2{
    color: #A7D129;
    font-family: 'Caveat', cursive;
    font-family: 'Lobster Two', cursive;
}

.banner{
    text-align: center;
    padding: 7% 15% 7%;
}
.section2{
    background-color: #1E5128;
    padding: 5% 15% 5%;
    text-align: center;
}
.icon{
    color: black;
    margin-top: 1rem;
}
.feature-box{
    padding: 3%;
    color: #A7D129;
}
.icon{
    color: #A7D129;
}
.section3{
    background-color: black;
    padding: 7% 15% 7%;
    text-align: center;
}
.section4{
    background-color: #1E5128;
    padding: 5% 15% 5%;
    text-align: center;
}
.section5{
    background-color: black;
    padding: 5% 35% 5%;
    text-align: center;
}
.footer{
    background-color: #A7D129;
    padding: 1%;
}
.text-muted{
    color: black;
}